 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 0px 0px 40px rgba(241,197,14,1);
  font-weight: 700;
  margin: 645px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 101px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 303px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 413px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 452px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 496px);
  }
}