 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1360px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 150px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 600px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 764px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 31px;
    margin-right: 31px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 52px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  background-image: none;
  margin: 0 auto;
}.u-section-3 .u-sheet-1 {
  min-height: 220px;
}

.u-section-3 .u-social-icons-1 {
  height: 100px;
  min-height: 16px;
  width: 100px;
  min-width: 16px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  animation-timing-function: ease-in;
  margin: 50px auto 300px;
}

.u-section-3 .u-icon-1 {
  height: 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-social-icons-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
  }
}

.u-section-3 .u-social-icons-1,
.u-section-3 .u-social-icons-1:before,
.u-section-3 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 52px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 202px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 50px -11px 300px auto;
}.u-section-6 .u-sheet-1 {
  min-height: 52px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 52px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 50px auto 300px;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-bottom: 200px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 52px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 600px;
}.u-section-10 .u-sheet-1 {
  min-height: 52px;
}

.u-section-10 .u-text-1 {
  font-weight: 900;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 400px;
}

.u-section-11 .u-image-1 {
  width: 335px;
  height: 100px;
  --animation-custom_in-translate_x: -1000px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0;
}

.u-section-11 .u-image-2 {
  width: 298px;
  height: 100px;
  --animation-custom_in-translate_x: 1000px;
  margin: 50px auto 100px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-image-2 {
    --animation-custom_in-scale: 0.001;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 1;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-2 {
    margin-bottom: 300px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 52px;
}

.u-section-12 .u-text-1 {
  font-weight: 900;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 168px;
}

.u-section-13 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 60px auto;
}

.u-section-13 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-13 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-13 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 575px) {
  .u-section-13 .u-social-icons-1 {
    margin-top: 50px;
    margin-bottom: 300px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 52px;
}

.u-section-14 .u-text-1 {
  font-weight: 900;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 600px;
}