.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 500px;
  animation-timing-function: linear;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 189px auto 0;
}

.u-section-1 .u-image-2 {
  width: 1001px;
  height: 337px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  animation-timing-function: ease-in;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 139px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 213px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 274px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 341px;
  }

  .u-section-1 .u-image-2 {
    height: 115px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(black, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 1000px;
}.u-section-3 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 140px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 102px 0 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 238px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 100px 0 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: linear-gradient(white, black);
}

.u-section-5 .u-sheet-1 {
  min-height: 1000px;
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-image-1 {
  width: 133px;
  height: 100px;
  animation-timing-function: linear;
  margin: 639px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  margin: 614px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-bottom: 60px;
  }
}